<a href="https://colab.research.google.com/github/sid209e/Chicago-crime-data-analysis/blob/main/Chicago_Crime_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chicago Crime Data Analysis

## Quick lookup

In [ ]:
import pandas as pd
from pandas import read_csv
crimes = read_csv('../input/chicago-crime-2001-to-2022/Crimes_-_2001_to_Present.csv', index_col='Date')

In [ ]:
print(type(crimes))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
crimes = crimes.iloc[:, 3: ]
crimes.head()

,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
Date,,,,,,,,,,,,,,,,,,
09/05/2015 01:30:00 PM,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,924.0,9.0,12.0,61.0,08B,1165074.0,1875917.0,2015.0,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
09/04/2015 11:30:00 AM,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,1511.0,15.0,29.0,25.0,06,1138875.0,1904869.0,2015.0,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
09/01/2018 12:01:00 AM,0810,THEFT,OVER $500,RESIDENCE,False,True,631.0,6.0,8.0,44.0,06,NaN,NaN,2018.0,04/06/2019 04:04:43 PM,NaN,NaN,NaN
09/05/2015 12:45:00 PM,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,1412.0,14.0,35.0,21.0,18,1152037.0,1920384.0,2015.0,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
09/05/2015 01:00:00 PM,0560,ASSAULT,SIMPLE,APARTMENT,False,True,1522.0,15.0,28.0,25.0,08A,1141706.0,1900086.0,2015.0,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [ ]:
crimes.index = pd.to_datetime(crimes.index)

In [ ]:
print(crimes.shape)
print(crimes.head())

In [ ]:
s = crimes[['Primary Type']]

In [ ]:
s.head()

In [ ]:
crime_count = pd.DataFrame(s.groupby('Primary Type').size().sort_values(ascending=False).rename('counts').reset_index())

In [ ]:
crime_count.head()

In [ ]:
crime_count.shape

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="whitegrid")

# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(6, 15))


# Plot the total crashes
sns.set_color_codes("pastel")
sns.barplot(x="counts", y="Primary Type", data=crime_count.iloc[:10, :],
            label="Total", color="b")

ax.legend(ncol=2, loc="lower right", frameon=True)
ax.set(ylabel="Type",
       xlabel="Crimes")
sns.despine(left=True, bottom=True)

# Add a legend and informative axis label
plt.show()

## Arrests

In [ ]:
crimes_2012 = crimes.loc['2012']
crimes_2013 = crimes.loc['2013']
crimes_2014 = crimes.loc['2014']
crimes_2015 = crimes.loc['2015']
crimes_2016 = crimes.loc['2016']
crimes_2017 = crimes.loc['2017']
crimes_2018 = crimes.loc['2018']
crimes_2019 = crimes.loc['2019']
crimes_2020 = crimes.loc['2020']
crimes_2021 = crimes.loc['2021']


## Yearly crimes
arrest_yearly = crimes[crimes['Arrest'] == True]['Arrest']

NameError: ignored

In [ ]:
print(arrest_yearly.head())

In [ ]:
plt.subplot()
# yearly arrest
arrest_yearly.resample('A').sum().plot()
plt.title('Yearly arrests')
plt.show()
# Monthly arrest
arrest_yearly.resample('M').sum().plot()
plt.title('Monthly arrests')
plt.show()
# Weekly arrest
arrest_yearly.resample('W').sum().plot()
plt.title('Weekly arrests')
plt.show()
# daily arrest
arrest_yearly.resample('D').sum().plot()
plt.title('Daily arrests')
plt.show()
plt.show()

## Domestic violence

In [ ]:
domestic_yearly = crimes[crimes['Domestic'] == True]['Domestic']
print(domestic_yearly.head())

In [ ]:

plt.subplot()
# yearly domestic violence
domestic_yearly.resample('A').sum().plot()
plt.title('Yearly domestic violence')
plt.show()
# Monthly domestic violence
domestic_yearly.resample('M').sum().plot()
plt.title('Monthly domestic violence')
plt.show()
# Weekly domestic violence
domestic_yearly.resample('W').sum().plot()
plt.title('Weekly domestic violence')
plt.show()
# daily domestic violence
domestic_yearly.resample('D').sum().plot()
plt.title('Daily domestic violence')
plt.show()
plt.show()

## Top 5 crimes trend over the years

### Monthly

In [ ]:
theft_2012 = pd.DataFrame(crimes_2012[crimes_2012['Primary Type'].isin(['THEFT','BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT'])]['Primary Type'])
theft_2013 = pd.DataFrame(crimes_2013[crimes_2013['Primary Type'].isin(['THEFT','BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT'])]['Primary Type'])
theft_2014 = pd.DataFrame(crimes_2014[crimes_2014['Primary Type'].isin(['THEFT','BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT'])]['Primary Type'])
theft_2015 = pd.DataFrame(crimes_2015[crimes_2015['Primary Type'].isin(['THEFT','BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT'])]['Primary Type'])
theft_2016 = pd.DataFrame(crimes_2016[crimes_2016['Primary Type'].isin(['THEFT','BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT'])]['Primary Type'])
theft_2017 = pd.DataFrame(crimes_2017[crimes_2017['Primary Type'].isin(['THEFT','BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT'])]['Primary Type'])
theft_2018 = pd.DataFrame(crimes_2018[crimes_2018['Primary Type'].isin(['THEFT','BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT'])]['Primary Type'])
theft_2019 = pd.DataFrame(crimes_2019[crimes_2019['Primary Type'].isin(['THEFT','BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT'])]['Primary Type'])
theft_2020 = pd.DataFrame(crimes_2020[crimes_2020['Primary Type'].isin(['THEFT','BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT'])]['Primary Type'])
theft_2021 = pd.DataFrame(crimes_2021[crimes_2021['Primary Type'].isin(['THEFT','BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT'])]['Primary Type'])

In [ ]:
grouper = theft_2012.groupby([pd.TimeGrouper('M'), 'Primary Type'])
grouper_2013 = theft_2013.groupby([pd.TimeGrouper('M'), 'Primary Type'])
grouper_2014 = theft_2014.groupby([pd.TimeGrouper('M'), 'Primary Type'])
grouper_2015 = theft_2015.groupby([pd.TimeGrouper('M'), 'Primary Type'])
grouper_2016 = theft_2016.groupby([pd.TimeGrouper('M'), 'Primary Type'])
grouper_2017 = theft_2017.groupby([pd.TimeGrouper('M'), 'Primary Type'])
grouper_2018 = theft_2018.groupby([pd.TimeGrouper('M'), 'Primary Type'])
grouper_2019 = theft_2019.groupby([pd.TimeGrouper('M'), 'Primary Type'])
grouper_2020 = theft_2020.groupby([pd.TimeGrouper('M'), 'Primary Type'])
grouper_2021 = theft_2021.groupby([pd.TimeGrouper('M'), 'Primary Type'])

In [ ]:
data_2012 = grouper['Primary Type'].count().unstack()
data_2013 = grouper_2013['Primary Type'].count().unstack()
data_2014 = grouper_2014['Primary Type'].count().unstack()
data_2015 = grouper_2015['Primary Type'].count().unstack()
data_2016 = grouper_2016['Primary Type'].count().unstack()
data_2017 = grouper_2017['Primary Type'].count().unstack()
data_2018 = grouper_2018['Primary Type'].count().unstack()
data_2019 = grouper_2019['Primary Type'].count().unstack()
data_2020 = grouper_2020['Primary Type'].count().unstack()
data_2021 = grouper_2021['Primary Type'].count().unstack()

In [ ]:
data_2012.plot()
plt.title("Top 5 monthly crimes in 2012")
plt.show()

In [ ]:
data_2013.plot()
plt.title("Top 5 monthly crimes in 2013")
plt.show()

In [ ]:
data_2014.plot()
plt.title("Top 5 monthly crimes 2014")
plt.show()

In [ ]:
data_2015.plot()
plt.title("Top 5 monthly crimes 2015")
plt.show()

In [ ]:
data_2016.plot()
plt.title("Top 5 monthly crimes 2016")
plt.show()

###  Weekly

In [ ]:
grouper = theft_2012.groupby([pd.TimeGrouper('W'), 'Primary Type'])
grouper_2013 = theft_2013.groupby([pd.TimeGrouper('W'), 'Primary Type'])
grouper_2014 = theft_2014.groupby([pd.TimeGrouper('W'), 'Primary Type'])
grouper_2015 = theft_2015.groupby([pd.TimeGrouper('W'), 'Primary Type'])
grouper_2016 = theft_2016.groupby([pd.TimeGrouper('W'), 'Primary Type'])

data_2012 = grouper['Primary Type'].count().unstack()
data_2013 = grouper_2013['Primary Type'].count().unstack()
data_2014 = grouper_2014['Primary Type'].count().unstack()
data_2015 = grouper_2015['Primary Type'].count().unstack()
data_2016 = grouper_2016['Primary Type'].count().unstack()

In [ ]:
data_2012.plot()
plt.title("Top 5 Weekly crimes 2012")
plt.show()

In [ ]:
data_2013.plot()
plt.title("Top 5 Weekly crimes 2013")
plt.show()

In [ ]:
data_2014.plot()
plt.title("Top 5 Weekly crimes 2014")
plt.show()

In [ ]:
data_2015.plot()
plt.title("Top 5 Weekly crimes 2015")
plt.show()

In [ ]:
data_2016.plot()
plt.title("Top 5 Weekly crimes 2016")
plt.show()

### Daily

In [ ]:
grouper = theft_2012.groupby([pd.TimeGrouper('D'), 'Primary Type'])
grouper_2013 = theft_2013.groupby([pd.TimeGrouper('D'), 'Primary Type'])
grouper_2014 = theft_2014.groupby([pd.TimeGrouper('D'), 'Primary Type'])
grouper_2015 = theft_2015.groupby([pd.TimeGrouper('D'), 'Primary Type'])
grouper_2016 = theft_2016.groupby([pd.TimeGrouper('D'), 'Primary Type'])

data_2012 = grouper['Primary Type'].count().unstack()
data_2013 = grouper_2013['Primary Type'].count().unstack()
data_2014 = grouper_2014['Primary Type'].count().unstack()
data_2015 = grouper_2015['Primary Type'].count().unstack()
data_2016 = grouper_2016['Primary Type'].count().unstack()

In [ ]:
data_2012.plot()
plt.title("Top 5 daily crimes 2012")
plt.show()

In [ ]:
data_2013.plot()
plt.title("Top 5 daily crimes 2013")
plt.show()

In [ ]:
data_2014.plot()
plt.title("Top 5 daily crimes 2014")
plt.show()

In [ ]:
data_2015.plot()
plt.title("Top 5 daily crimes 2015")
plt.show()

In [ ]:
data_2016.plot()
plt.title("Top 5 daily crimes 2016")
plt.show()